<%- include('components/header.ejs') %> 

<%- include('components/main_nav.ejs') %> 

  <!-- Main Content -->
  <main>
    <%- include('./content/' + page + '.ejs'); %>
  </main>
    
  <%- include('components/bottom_nav.ejs') %> 

  <%- include('components/footer.ejs') %> 
